<% layout('layout/boiler_plate')%>

<br>
<h1>About </h1>
<br>
<p style="max-width: 700px; margin: auto;">
    The manager of a supermarket wants us to develop an automation software. 
    The supermarket stocks a set of items.
    Customers pick up their desired items from the different counters in required quantities. 
    The customers present these items to the sales clerk. 
    The sales clerk passes the items over a bar code reader and an automatic weighing scale and the data regarding the item type and the quantity get registered.
</p>